
/* HomePage.css */

.homepage-container {
  background-image: url('./components/background.jpeg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage-header {
  margin-top: 100px;
  font-size: 25px;
  color: white; 
  padding: 20px;
}

.home-welcome {
  background-color: rgba(0, 51, 102, 0.8);
  padding: 20px;
  border-radius: 10px; 
  display: inline-block;
}
.home-intro
{
  margin-top: 60px;
}
.intro-img
{
  background-image: url('./components/introImg.jpg');
  z-index: 2;
}
.homepage-footer {
  background-color: rgba(240, 248, 255, 0.8); 
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.homepage-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.homepage-link {
  color: #003366; 
  text-decoration: none;
  font-weight: bold;
}

.homepage-link:hover {
  transform: scale(1.3);
}
.home-button {
  background: linear-gradient(135deg, #6b73ff, #000dff);
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.3s ease;
}

.home-button:hover {
  background: linear-gradient(135deg, #000dff, #6b73ff);
}
.home-intropara
{
  font-size: 15px;
  margin-left: 500px;
  width: 600px;
}

/*................*/

.input{
border: solid 1.5px #9e9e9e;
border-radius: 7px;
background: none;
padding: 15px;
font-size: 18px;
color: #f5f5f5;
}
.contact{
  background-color: #003366;
  text-align: center;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}


.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #003366;
  color: white;
}

.aboutme-body {
  width: 100%;
}

.about-me-container h1,
.about-me-container h3 {
  color: white;
}
.html {
  background-image: url('./components/html.svg');
}

.css{
  background-image: url('./components/css.svg');
}
.python{
  background-image: url('./components/python.svg');
}
.java{
  background-image: url('./components/java.svg');
}
.js{
  background-image: url('./components/nodejs.svg');
}
.react{ 
  background-image: url('./components/react.svg');
}
.mysql{
  background-image: url('./components/mysql.svg');
}
.mongodb{
  background-image: url('./components/mongodb.svg');
}
.skillimg1,
.skillimg2
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.skills
{
  
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}
.html,.css,.java,.python,.java,.js,.react,.mysql,.mongodb
{
  width: 200px;
  height: 200px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.html:hover,.css:hover, .java:hover, .python:hover, .js:hover, .react:hover, .mysql:hover, .mongodb:hover {
  background-color: #ddd;
  transform: scale(1.3);
}

/*........................*/
.ProjectContainer
{
  background-image: url('./components/background.jpeg');
  height: 900px;
}
.projectDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  margin-top: 150px;
}

.box1, .box2 {
  background-color: rgba(14, 87, 160, 0.7); /* 50% opacity */


  color: white;
  border-radius: 10px;
  height: 450px;
  width: 300px; 
  padding: 20px; 
  transition: background-color 0.3s, color 0.3s; 
}

.box1:hover, .box2:hover {
  background-color: white;
  color: #003366;
}

.Project-head {
  background-color: #003366;
  color: white;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px; 
}
